* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:'digital-7 (mono italic)';
    src: url('./fonts/digital-7 (mono italic).ttf');
}

h1 {
    font-family: "digital-7 (mono italic)";
    box-shadow: 20px 15px 20px rgba(58, 58, 58, 0.473);
    border: solid rgb(110, 110, 110) 1px;
    padding: 5px;
    margin: 50px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calc {
    display: flex wrap;
    width: 402px;
    margin-top: 100px;
    box-shadow: 20px 15px 20px rgba(58, 58, 58, 0.473);
    border: solid rgb(110, 110, 110) 1px;
    background-color: rgb(118, 221, 123);
}

#result {
    background-color: rgb(118, 221, 123);
    padding-right: 10px;
    width: 400px;
    height: 100px;
    border: solid rgb(163, 163, 163) 1px;
    font-family: "digital-7 (mono italic)";
    font-size: 100px;
    text-align: right; 
}

button {
    width:100px;
    height:100px;
    font-size: 40px;
    color:white;
    text-shadow: 3px 2px 10px rgb(0, 0, 0);
    border: solid rgb(161, 161, 161) 1px;
    font-family: Arial, Helvetica, sans-serif
}

#displayDigits {
    animation: blink 2s linear;
    animation-iteration-count: infinite 
}



@keyframes blink {
	0% { opacity: 1; }
	98% { opacity: 1; }
	100% { opacity: 0; }
}